.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d68878;
}

h1 {
  letter-spacing: 4px;
  text-transform: uppercase;
}

h1, span {
  font-family: sans-serif;
}

.span-alert {
  margin-bottom: 2%;
}

.login-div {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfc39c;
  padding: 2%;
  border-style: dashed;
  border-color: #d68878;
  border-width: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
  font-family: sans-serif;
  font-size: 16px;
}

.form-field span {
  margin-bottom: -8%;
}

.button-field {
  text-align: center;
  margin-bottom: 10%;
}

.button-field2 {
  text-align: center;
  margin-top: 20%;
}

.form-error {
  font-size: 12px;
  color: #bc295c;
}

.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  --field-padding: 12px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #d68878;
  transition:
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #222;
}

.custom-field.one input {
  background: none;
  border: 2px solid #d68878;
  transition: border-color 0.3s ease;
}

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
  border-color: #222;
  transition-delay: 0.1s
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 0;
  font-size: 10px;
  color: #222;
  background: #dfc39c;
  width: auto
}

.cta {
 border: none;
 background: none;
}

.cta span {
 padding-bottom: 7px;
 letter-spacing: 4px;
 font-size: 12px;
 padding-right: 15px;
 text-transform: uppercase;
}

.cta img {
 transform: translateX(-8px) translateY(3px);
 transition: all 0.3s ease;
}

.cta:hover img {
 transform: translateX(0) translateY(3px);
}

.cta:active img {
 transform: scale(0.9);
}

.hover-underline-animation {
 position: relative;
 color: black;
 padding-bottom: 20px;
}

.hover-underline-animation:after {
 content: "";
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 1.5px;
 bottom: 0;
 left: 0;
 background-color: #000000;
 transform-origin: bottom left;
 transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}

.cta2 {
 border: none;
 background: none;
}

.cta2 span {
 padding-bottom: 7px;
 letter-spacing: 4px;
 font-size: 12px;
 padding-left: 15px;
 text-transform: uppercase;
}

.cta2 img {
 transform: translateX(0) translateY(4px);
 transition: all 0.3s ease;
}

.cta2:hover img {
 transform: translateX(-8px) translateY(4px);
}

.cta2:active img {
 transform: scale(0.9);
}

.hover-underline-animation2 {
 position: relative;
 color: black;
 padding-bottom: 20px;
}

.hover-underline-animation2:after {
 content: "";
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 1.5px;
 bottom: 0;
 right: 0;
 background-color: #000000;
 transform-origin: bottom right;
 transition: transform 0.25s ease-out;
}

.cta2:hover .hover-underline-animation2:after {
 transform: scaleX(1);
 transform-origin: bottom right;
}

@media (max-width: 768px) {
  .login-div {
    width: 80%;
    padding: 4%;
  }

  h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
