<div class="container">
  <div class="home-div">
    <h1>SimpleLogin</h1>
    <h3>¡Bienvenid@, te invito a probar cómo funciona éste sitio!</h3>
    <span class="span-alert">SimpleLogin guarda tu información en una base de datos, la cual te permite usar la misma para logearte con un usuario único. </span>
    <span class="span-alert2">¡Comencemos!</span>
    <div class="">
      <div class="button-field">
        <button routerLink="/signup" style="cursor:pointer" name="signup" class="cta">
          <span class="hover-underline-animation"> Registrate </span>
          <img src="/assets/images/right-arrow.png" alt="signup" width="18">
        </button>
      </div>
      <div class="button-field last">
        <button routerLink="/login" style="cursor:pointer" name="login" class="cta">
          <span class="hover-underline-animation"> Inicia Sesion </span>
          <img src="/assets/images/right-arrow.png" alt="login" width="18">
        </button>
      </div>
    </div>
  </div>
</div>
